.gradle
/local.properties
/projectFilesBackup
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/*/out
/*/build
/*/*/production
*.iws
*.ipr
*~
*.swp
/sample
.idea/caches/build_file_checksums.ser
.idea/gradle.xml
.idea/misc.xml